.git                                                                                                                                        
.gitignore      
node_modules
.env                                                                                                                                        
README.md
*.log                                                                                                                                       
logs/           
logs_error/
__pycache__
*.pyc
.pytest_cache                                                                                                                               
tests/                                                                                                                                      
docs/                                                                                                                                       
.mypy_cache                                                                                                                                 
.ruff_cache             